# Exclude all CSV files
*.csv

# Exclude all PNG files
*.png

# Exclude all PyTorch model weights files
*.pth

# Exclude any model_weights directory
model_weights/

# Optionally, exclude other machine learning related files, like:
# TensorFlow checkpoints
*.ckpt

# PyTorch Lightning checkpoint files
*.ckpt

# Exclude log files
*.log

# Exclude models/training_runs directory and its contents
models/training_runs/

# Ignore any hidden system files (optional but often useful)
.DS_Store
Thumbs.db